@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --default-font-family: var(--font-be_vietnam_pro);
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;
  --color-orange-50: hsl(35, 100%, 50%);
  --color-orange-70: hsl(35, 100%, 70%);
  --color-orange-75: hsl(35, 100%, 75%);
  --color-orange-80: hsl(35, 100%, 80%);
  --color-orange-90: hsl(35, 100%, 90%);
  --color-orange-95: hsl(35, 100%, 95%);
  --color-orange-97: hsl(35, 100%, 97%);
  --color-orange-99: hsl(35, 100%, 99%);
  --color-white-90: hsl(240, 7%, 90%);
  --color-white-95: hsl(240, 7%, 95%);
  --color-white-97: hsl(240, 7%, 97%);
  --color-white-99: hsl(240, 7%, 99%);
  --color-grey-10: hsl(0, 0%, 10%);
  --color-grey-15: hsl(0, 0%, 15%);
  --color-grey-20: hsl(0, 0%, 20%);
  --color-grey-30: hsl(0, 0%, 30%);
  --color-grey-35: hsl(0, 0%, 35%);
  --color-grey-40: hsl(0, 0%, 40%);
  --color-grey-60: hsl(0, 0%, 60%);
  --color-grey-70: hsl(0, 0%, 70%);
  --breakpoint-*: initial;
  --breakpoint-mobile: 475px;
  --breakpoint-laptop: 950px;
  --breakpoint-desktop: 1440px;
}

body {
  @apply min-h-dvh flex flex-col bg-white-97 text-grey-30 transform-gpu antialiased dark:bg-grey-10 dark:text-white;
}

:is(header, section, footer) {
  @apply p-4 bg-inherit laptop:p-5 desktop:px-8;
  .content {
    @apply laptop:px-15;
  }
}

:is(header) {
  .topic {
    @apply text-center text-sm bg-orange-50 text-white rounded-md px-4 py-3;
  }

  .content {
    @apply flex items-center py-4 pb-5 border-b-1 border-white-95;
    .right {
      @apply flex justify-end ml-auto gap-4;
    }
  }
}

:is(main) {
  @apply flex-1;
}

:is(footer) {
  @apply pt-12.5 pb-6 bg-white dark:bg-grey-10;
  .content {
    @apply flex flex-wrap justify-between border-b-1 border-white-95 pb-5 gap-5;
    .right {
      @apply flex gap-5 flex-wrap;
    }
  }
  .copyright {
    @apply pt-5 text-center text-grey-40;
  }
}

@layer components {
  .icon-svg {
    @apply inline-flex size-6 aspect-square text-inherit align-middle;
  }

  .logo {
    @apply relative z-1 inline-flex overflow-hidden;

    h1 {
      @apply absolute z-0;
    }

    span {
      @apply relative z-1 text-white p-1 rounded-md bg-orange-50 size-10 overflow-hidden;
    }
  }

  .note-list {
    &:not(:last-child) {
      @apply mr-10;
    }
    .note-list-head {
      @apply mb-3;
      h2 {
        @apply text-lg font-semibold;
      }
    }

    > ul {
      @apply flex flex-col gap-3;

      > li {
        @apply flex gap-2;
        &.social-links {
          @apply flex gap-3.5;
          > a {
            @apply inline-flex rounded-md p-3 bg-white-97 dark:text-grey-30;
          }
        }
        a:hover {
          @apply underline text-orange-50;
        }
      }
    }
  }
}
