@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --default-font-family: var(--font-be_vietnam_pro);
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;
  --color-orange-50: hsl(35, 100%, 50%);
  --color-orange-70: hsl(35, 100%, 70%);
  --color-orange-75: hsl(35, 100%, 75%);
  --color-orange-80: hsl(35, 100%, 80%);
  --color-orange-90: hsl(35, 100%, 90%);
  --color-orange-95: hsl(35, 100%, 95%);
  --color-orange-97: hsl(35, 100%, 97%);
  --color-orange-99: hsl(35, 100%, 99%);
  --color-white-90: hsl(240, 7%, 90%);
  --color-white-95: hsl(240, 7%, 95%);
  --color-white-97: hsl(240, 7%, 97%);
  --color-white-99: hsl(240, 7%, 99%);
  --color-grey-10: hsl(0, 0%, 10%);
  --color-grey-15: hsl(0, 0%, 15%);
  --color-grey-20: hsl(0, 0%, 20%);
  --color-grey-30: hsl(0, 0%, 30%);
  --color-grey-35: hsl(0, 0%, 35%);
  --color-grey-40: hsl(0, 0%, 40%);
  --color-grey-60: hsl(0, 0%, 60%);
  --color-grey-70: hsl(0, 0%, 70%);
  --breakpoint-*: initial;
  --breakpoint-mobile: 390px;
  --breakpoint-laptop: 750px;
  --breakpoint-desktop: 1440px;
  --animate-going: going 1s infinite;

  @keyframes going {
    0%,
    100% {
      transform: translateX(25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@utility animation-delay-* {
  animation-delay: --value(integer, [integer]) ms;
}

body {
  @apply min-h-dvh flex flex-col bg-white-97 text-grey-30 transform-gpu antialiased dark:bg-grey-10 dark:text-white;
}

:is(header, section, footer) {
  @apply p-4 bg-inherit laptop:p-5 desktop:px-8;
  .content {
    @apply laptop:px-6 desktop:px-15;
  }
}

:is(header) {
  @apply sticky top-0 z-99 pb-0;
  .topic {
    @apply text-center text-sm bg-orange-50 text-white rounded-md px-4 py-3;
    a {
      @apply text-inherit;
    }
  }

  .content {
    @apply flex gap-12.5 items-center py-4 pb-5 border-b-1 border-white-95;
    .right {
      @apply flex justify-end flex-1 gap-4;
    }
  }
}

:is(main) {
  @apply relative z-1 flex-1;
}

:is(footer) {
  @apply pt-12.5 pb-6 bg-white dark:bg-grey-10;
  .content {
    @apply flex flex-wrap justify-between border-b-1 border-white-95 pb-5 gap-5;
    .right {
      @apply flex gap-5 flex-wrap;
    }
  }
}

:is(a) {
  @apply transition-all ease-in-out duration-300;
  &:is(:hover, .nav-active) {
    @apply text-orange-50;
  }
  &:is([href]:hover) {
    @apply underline underline-offset-4 decoration-2;
  }
}

:is(nav) {
  @apply relative z-2 flex flex-col items-center laptop:flex-row;
  .nav-link {
    @apply py-2 px-4;
    &:hover {
      @apply no-underline;
    }
  }
}

@layer components {
  .icon-svg {
    @apply inline-flex size-6 aspect-square text-inherit align-middle;
  }

  .logo {
    @apply relative z-1 inline-flex overflow-hidden;

    span {
      @apply relative z-1 text-white p-1 rounded-md bg-orange-50 size-10 overflow-hidden;
    }
  }

  .nav-section {
    @apply flex order-2 laptop:order-1 laptop:flex-1;
  }

  .nav-content {
    .nav-wrap {
      @apply relative z-1;
      :is(.nav-link-mask, .nav-link-line) {
        @apply absolute z-1 transition-all ease-in-out duration-300;
      }
      .nav-link-mask {
        @apply rounded-md bg-white-95;
      }
      .nav-link-line {
        @apply h-0.5 bg-orange-50;
      }
    }
    &[aria-orientation="horizontal"] {
      @apply flex items-center;
    }
    &[aria-orientation="vertical"] {
      @apply fixed top-0 bottom-0 left-0 right-0 z-98 bg-black/40;
      &[aria-hidden="true"] {
        @apply hidden;
      }
      &[aria-hidden="false"] {
        @apply block;
      }
      .nav-wrap {
        @apply w-[80%] h-full p-5 bg-white dark:bg-grey-10;
      }
    }
  }

  .theme-switch {
    @apply order-1 laptop:order-2;
  }

  .note-list {
    &:not(:last-child) {
      @apply mr-10;
    }
    .note-list-head {
      @apply mb-3;
      h2 {
        @apply text-lg font-semibold;
      }
    }

    > ul {
      @apply flex flex-col gap-3;

      > li {
        @apply flex gap-2;
        &.social-links {
          @apply flex gap-3.5;
          > a {
            @apply inline-flex rounded-md p-2.5 bg-white-97 dark:text-grey-30;
            .icon-svg {
              @apply size-4.5;
            }
          }
        }
      }
    }
  }

  .copyright {
    @apply pt-5 text-center text-grey-40;
  }
}
