@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --default-font-family: var(--font-be_vietnam_pro);
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;
  --color-orange-50: hsl(35, 100%, 50%);
  --color-orange-70: hsl(35, 100%, 70%);
  --color-orange-75: hsl(35, 100%, 75%);
  --color-orange-80: hsl(35, 100%, 80%);
  --color-orange-90: hsl(35, 100%, 90%);
  --color-orange-95: hsl(35, 100%, 95%);
  --color-orange-97: hsl(35, 100%, 97%);
  --color-orange-99: hsl(35, 100%, 99%);
  --color-white-90: hsl(240, 7%, 90%);
  --color-white-95: hsl(240, 7%, 95%);
  --color-white-97: hsl(240, 7%, 97%);
  --color-white-99: hsl(240, 7%, 99%);
  --color-grey-10: hsl(0, 0%, 10%);
  --color-grey-15: hsl(0, 0%, 15%);
  --color-grey-20: hsl(0, 0%, 20%);
  --color-grey-30: hsl(0, 0%, 30%);
  --color-grey-35: hsl(0, 0%, 35%);
  --color-grey-40: hsl(0, 0%, 40%);
  --color-grey-60: hsl(0, 0%, 60%);
  --color-grey-70: hsl(0, 0%, 70%);
  --breakpoint-*: initial;
  --breakpoint-mobile: 390px;
  --breakpoint-laptop: 1440px;
  --breakpoint-desktop: 1920px;
}

body {
  @apply bg-white-97 text-grey-30 transform-gpu antialiased dark:bg-grey-10 dark:text-white;
}
